
#wb_header { background: transparent none repeat scroll left top; height: 162px; }
#wb_main { background: transparent none repeat scroll left top; height: 350px; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 260px; }
body { background: #242424 url("../gallery_gen/f4ddac20c8f3bf78a157e8761a445f2f.png") no-repeat scroll center top; }
.wb_sbg { background: transparent none no-repeat scroll right top; }
body, .wb_sbg { min-width: 992px; min-height: 772px; }
.root { width: 992px; height: 772px; overflow: visible; min-height: 772px; }
#wb_element_instance121 { left: 400px; top: 190px; min-width: 200px; width: 200px; min-height: 62px; height: 62px; display: block; z-index: 730; overflow: hidden; }
#wb_element_instance121 img { width: 199px; height: 62px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance122 { left: 120px; top: 50px; min-width: 750px; width: 750px; min-height: 110px; height: 110px; display: block; z-index: 699; }
#wb_element_instance122 img { width: 750px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance123 { left: 50px; top: 100px; min-width: 190px; width: 190px; min-height: 70px; height: 70px; display: block; z-index: 663; }
#wb_element_instance123 img { width: 190px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance124 { left: 300px; top: 0px; min-width: 390px; width: 390px; min-height: 220px; height: 220px; display: block; z-index: 658; }
#wb_element_instance124 img { width: 390px; height: 220px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance125 { left: 10px; top: 410px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; z-index: 664; }
#wb_element_instance125 img { width: 200px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance126 { left: 340px; top: 300px; min-width: 320px; width: 320px; min-height: 70px; height: 70px; display: block; z-index: 665; overflow: hidden; }
#wb_element_instance126 img { width: 490px; height: 70px; display: block; position: relative; left: -80px; top: 0px; max-width: inherit; }
#wb_element_instance127 { left: 760px; top: 50px; min-width: 190px; width: 190px; min-height: 150px; height: 150px; display: block; z-index: 666; }
#wb_element_instance127 img { width: 190px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance128 { left: 60px; top: 310px; min-width: 210px; width: 210px; min-height: 50px; height: 50px; display: block; z-index: 667; overflow: hidden; }
#wb_element_instance128 img { width: 210px; height: 170px; display: block; position: relative; left: 0px; top: -120px; max-width: inherit; }
#wb_element_instance129 { left: 730px; top: 310px; min-width: 210px; width: 210px; min-height: 60px; height: 60px; display: block; z-index: 668; }
#wb_element_instance129 img { width: 210px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance130 { left: 250px; top: 400px; min-width: 160px; width: 160px; min-height: 130px; height: 130px; display: block; z-index: 669; overflow: hidden; }
#wb_element_instance130 img { width: 430px; height: 130px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance131 { left: 450px; top: 410px; min-width: 210px; width: 210px; min-height: 110px; height: 110px; display: block; z-index: 670; }
#wb_element_instance131 img { width: 210px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance132 { left: 720px; top: 420px; min-width: 230px; width: 230px; min-height: 110px; height: 110px; display: block; z-index: 671; }
#wb_element_instance132 img { width: 230px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance133 { left: 0px; top: 20px; min-width: 500px; width: 500px; min-height: 128px; height: 128px; display: block; z-index: 185; }
#wb_element_instance134 { left: 0px; top: 230px; min-width: 210px; width: 210px; min-height: 70px; height: 70px; display: block; z-index: 186; }
#wb_element_instance134 .wb_button { width: 210px; height: 70px; font-family: 'Roboto Slab',sans-serif; font-size: 18px; text-align: center; border: 3px solid #ffffff; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #ff0000 none repeat scroll left top; }
#wb_element_instance134 .wb_button:hover { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #db0000 none repeat scroll left top; }
#wb_element_instance134 .wb_button:active { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #db0000 none repeat scroll left top; }
#wb_element_instance135 { left: 0px; top: 130px; min-width: 340px; width: 340px; min-height: 68px; height: 68px; display: block; z-index: 67; }
#wb_element_instance136 { left: 0px; top: 320px; display: block; z-index: 9000; }
#wb_element_instance137 { left: 0px; top: 550px; display: block; z-index: 9999; }


#wb_element_instance133 p:last-child { margin-bottom: 0; }
#wb_element_instance135 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
